<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EmailEmmiter</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/form-styles.css">
</head>
<body>
    <header>
        <h1 class="header">Email Emmiter</h1>
    </header>
    <main>
        <form class="form" action="formdata" method="POST">
            <div class="form_header">Message</div>
            <div class="form_container">
                <label class="form_label" for="host">Your host(e-mail adress): </label>
                <input class="form_input" name="host"></input>
                <label class="form_label" for="title">E-mail title: </label>
                <input class="form_input" name="title"></input>
                <label class="form_label" for="message">Message: </label>
                <textarea class="form_textarea" name="message" rows="15" cols="30"></textarea>
            </div>
            <div class="form_header">Emials list</div>
            <div class="form_container">
                <label class="form_label" for="add">Add email: </label>
                <input class="form_input" name="add"></input>
                <label class="form_label" for="remove">Remove emial: </label>
                <input class="form_input" name="remove"></input>
                <div class="form_emails_list">
                    example@gmail.com, lorem@wp.pl, example@gmail.com, 
                    przykład@onet.pl, xd@xd.xd, example@gmail.com, example@gmail.com, lorem@wp.pl, example@gmail.com, 
                    przykład@onet.pl, xd@xd.xd, example@gmail.com, example@gmail.com, lorem@wp.pl, example@gmail.com, 
                    przykład@onet.pl, xd@xd.xd, example@gmail.com, example@gmail.com, lorem@wp.pl, example@gmail.com, 
                    przykład@onet.pl, xd@xd.xd, example@gmail.com, example@gmail.com, lorem@wp.pl, example@gmail.com, 
                    przykład@onet.pl, xd@xd.xd, example@gmail.com, example@gmail.com, lorem@wp.pl, example@gmail.com, 
                    przykład@onet.pl, xd@xd.xd, example@gmail.com, 
                </div>
            </div>
            <button class="form_btn" type="submit">Send</button>
        </form>
    </main>
    <script src="/assets/scripts/validator.js"></script>
</body>
</html>