<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EmailEmmiter</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/form-styles.css">
</head>
<body>
    <header>
        <h1 class="header">Email Emmiter</h1>
    </header>
    <main>
        <form class="form" action="formdata" method="POST">
            <div class="form_header">Message</div>
            <div class="form_container">
                <label class="form_label" for="host">Your host(e-mail adress): </label>
                <input required class="form_input" name="host"></input>
                <label class="form_label" for="title">E-mail title: </label>
                <input required class="form_input" name="title"></input>
                <label class="form_label" for="message">Message: </label>
                <textarea required class="form_textarea" name="message" rows="15" cols="30"></textarea>
            </div>
            <div class="form_header">Emials list</div>
            <div class="form_container">
                <label class="form_label" for="add">Add email: </label>
                <input class="form_input" type="email" name="add"></input>
                <button id="btn_add" type="button" class="form_btn">Add</button>
                <label class="form_label" for="remove">Remove emial: </label>
                <input class="form_input" type="email" name="remove"></input>
                <button id="btn_remove" type="button" for="remove" class="form_btn">Del</button>
                <div class="form_emails_list"></div>
            </div>
            <button class="submit_btn" id="btn_send" type="button">Send</button>
        </form>
    </main>
    <script src="/assets/scripts/data.js"></script>
</body>
</html>