<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emails-Sent</title>
    <link rel="stylesheet" href="/assets/styles/sent-styles.css">
</head>
<body>
    <h1>Sent <%= data.amount %> emails</h1>
    <button id="btn_refresh" class="btn" type="button">OK</button>
    <script src="/assets/scripts/refresh.js"></script>
</body>
</html>